
# Topic 1 Comprehension & Generators

## List Comprehension

In [0]:
[i*i for i in range(11) if i%3 != 0 or i%5 != 0]

In [0]:
s = "Today is a sunny day and a great day"

[word[0] for word in s.split()]

In [0]:
[word[-1] for word in s.split()]

## Set Comprehension

In [0]:
s = "Today is a sunny day and a great day"

exclude_words = {'is','a','and'}

{word for word in s.split() if word not in exclude_words}

## Dict Comprehension

In [0]:
d1 = {'Tom': 14, 'Patrick': 12, 'Sean': 15}
d2 = {'Jeanne': 14, 'Marie': 12}

{i:j for d in (d1,d2) for i,j in d.items() }

In [0]:
firstname = ['ally','jane','belinda']
lastname = ['tan','wee','ng']

name = ( n.capitalize()+" "+m.capitalize() for n,m in zip(firstname,lastname))

## Generator Expression

In [0]:
firstname = ['ally','jane','belinda']
lastname = ['tan','wee','ng']

name = ( n.capitalize()+" "+m.capitalize() for n,m in zip(firstname,lastname))

In [0]:
next(name)

## Generator Function

In [0]:
def fibo(n):
	a,b=0,1
	for i in range(n):
		yield b
		a,b=b,a+b

In [0]:
for i in fibo(10):
    print(i)

# Topic 2 File and Directory Handling

In [0]:
from google.colab import drive
drive.mount('/content/drive')

In [0]:
import os 
path = '/content/drive/My Drive/test'
os.chdir(path)
os.getcwd()

In [0]:
f = open('user.txt','w')
f.write("name\theight\tweight\tbmi\n")

In [0]:
name = input('Enter name: ')
height = float(input('Enter height (m): '))
weight = float(input('Enter weight (kg): '))
with open("user.txt",'a') as f:
    bmi =  round(weight/(height*height),2)
    f.write("{}\t{}\t{}\t{}\n".format(name.lower(),height,weight,bmi))

In [0]:
!cat '/content/drive/My Drive/test/user.txt'

In [0]:
import pandas as pd

df = pd.read_csv('user.txt',header=0,sep='\t',index_col='name')
name = input('Enter name: ')
print('BMI = ',df.loc[name.lower()].bmi)

# Topic 3 Object Oriented Programming

## Ex: Class & Object

In [0]:
class Counter:
    count = 0

    def reset(self):
        self.count = 0

    def increment(self):
        self.count = self.count + 1
    
    def incrementByN(self,n):
        self.count = self.count + n

counter = Counter()
print(counter.count)

counter.increment()
counter.increment()
counter.increment()
print(counter.count)

counter.incrementByN(10)
print(counter.count)

counter.reset()
print(counter.count)

## Ex: Initializer

In [0]:
class Rectangle:
    
    def __init__(self,length,width):
        self.length = length
        self.width = width
    
    def area(self):
        return self.length*self.width

In [0]:
rect1 = Rectangle(10,20)
rect1.area()

## Ex Employee Class

In [0]:
class Employee:

    empCount = 0
    
    def __init__(self,name,salary):
        self.name = name
        self.salary = salary
        Employee.empCount = Employee.empCount+1
    
    def __del__(self):
        Employee.empCount = Employee.empCount-1
    
    def dispEmployee(self):
        print("{} salary is {}".format(self.name,self.salary))

    def dispEmployeeCount(self):
        print("Number of Employee is {}".format(Employee.empCount))

In [0]:
emp1 = Employee('Ally',5000)
emp2 = Employee('Belinda',6000)
emp3 = Employee('Jane',4000)

emp1.dispEmployee()
emp1.dispEmployeeCount()
del emp1
emp2.dispEmployeeCount()

In [0]:

emp1.dispEmployee()
emp1.dispEmployeeCount()
del emp1
emp2.dispEmployeeCount()

## Inheritance

In [0]:
class Rectangle:
    
    def __init__(self,length,width):
        self.length = length
        self.width = width
    
    def area(self):
        return self.length*self.width

In [0]:
class Square(Rectangle):

    def __init__(self,length):
        super().__init__(length,length)

    def perimeter(self):
        return 4*self.length

In [0]:
sq = Square(5)
sq.area()

In [0]:
sq.perimeter()

In [0]:
class Employee:

    empCount = 0
    
    def __init__(self,name,salary):
        self.name = name
        self.salary = salary
        Employee.empCount = Employee.empCount+1
    
    def __del__(self):
        print("{} has left the company".format(self.name))
        Employee.empCount = Employee.empCount-1
    
    def dispEmployee(self):
        print("{} salary is {}".format(self.name,self.salary))

    def dispEmployeeCount(self):
        print("Number of Employee is {}".format(Employee.empCount))

In [0]:
class FullTimeStaff(Employee):
    
    def __init__(self,name,salary,leave):
        super().__init__(name,salary)
        self.leave = leave

    def dispEmployee(self):
        print("{} salary is {} and leave is {}".format(self.name,self.salary,self.leave))

In [0]:
class PartTimeStaff(Employee):
    
    def __init__(self,name,hrrate):
        super().__init__(name,0)
        self.hrrate = hrrate
    
    def __del__(self):
        pass
    
    def dispEmployee(self):
        print("{} hourly rate is {}".format(self.name,self.hrrate))

In [0]:
emp1 = FullTimeStaff('Ally',5000,24)
emp2 = FullTimeStaff('Belinda',6000,21)
emp3 = PartTimeStaff('Jane',100)

emp1.dispEmployee()
emp1.dispEmployeeCount()
emp3.dispEmployee()
del emp1
del emp3
emp2.dispEmployeeCount()

# Topc 4 Database

In [0]:
import sqlite3

In [0]:
db = sqlite3.connect('school.db')

In [0]:
db.execute('create table subjects (subject text,students int, classes int)')

In [0]:
db.execute('insert into subjects (subject,students, classes) values (?,?,?)',('English',200,10))
db.execute('insert into subjects (subject,students, classes) values (?,?,?)',('Chinese',50,8))
db.execute('insert into subjects (subject,students, classes) values (?,?,?)',('Math',80,12))
db.execute('insert into subjects (subject,students, classes) values (?,?,?)',('Science',80,12))
db.commit()

In [0]:
list = db.execute('select * from subjects order by subject')

for i in list:
	print(i)

# Topic 5 Error Handling Using Exception

In [36]:
import random
die = random.choice([1,2,3,4,5,6])
print('The correct answer is ',die)

The correct answer is  5

In [37]:
while True:
    try:
        guess = int(input('Guess the die no : '))
        if guess == die:
            print("Good Guess")
            break
        else:
            int("Wrong")
    except:
        print("Pls try again")

Guess the die no : 5
Good Guess